<div class="bg-dark text-white p-3 vh-100" style="width:250px;">

    <h4 class="mb-4">MENU</h4>

    <a href="/" class="nav-link text-white mb-2"> Dashboard</a>

    <a href="/patient" class="nav-link text-white mb-2"> Bệnh nhân</a>

    <a href="/appointment" class="nav-link text-white mb-2"> Lịch hẹn</a>

    <a href="/treatment" class="nav-link text-white mb-2"> Khám bệnh</a>

    <a href="/medicine" class="nav-link text-white mb-2"> Thuốc</a>

    <a href="/invoice" class="nav-link text-white mb-2"> Hóa đơn</a>

    <a href="/report" class="nav-link text-white mb-2"> Báo cáo</a>

    <a href="/logout" class="nav-link text-white mt-5"> Đăng xuất</a>

</div>